/* Container styles with centered layout, padding, and shadow */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 10px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Left section styles with flexible width, column layout, and spacing */
.left-section {
    flex: 1 1 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    margin-right: 20px;
}

/* Right section styles with flexible width */
.right-section {
    flex: 1 1 55%;
}

/* Image styles with responsive sizing and centered alignment */
img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Dark Mode styles for container and sections */
.dark-mode .container {
    background-color: #1e1e1e;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

.dark-mode .left-section,
.dark-mode .right-section {
    color: #ffffff;
}

/* Dark Mode styles for images (to maintain consistency) */
.dark-mode img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* switch styles */

/* Switch styles for toggle elements */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}


/* Slider styles for the switch, including background and transition */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

/* Slider circle styles, including size and transition */
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

/* Change slider background when the switch is checked */
input:checked + .slider {
    background-color: #0077b6;
}

/* Move the slider circle when the switch is checked */
input:checked + .slider:before {
    transform: translateX(26px);
}

