/* Body styles with padding at the top and minimum height */
body {
    height: auto;

}

/* Container styles */
.container {
    flex-wrap: wrap;
    margin-top: 60px;
    flex: 1;
}

/* Box styles for each company */
.box {
    margin: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
    gap: 20px;
}

.box:hover {
    transform: translateY(-5px);
}