<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empresas</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/companiesStyles.css">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="/js/darkMode.js" defer></script>
</head>

<body class="page-centered">

    <header>
        <div class="header-left">
            <button class="back-btn" onclick="location.href='/main'">⬅️ Atrás</button>
        </div>
        <div class="title">
            <a href="/main">JOBMATCHER</a>
        </div>
        <div class="header-right">
            <button onclick="location.href='/companies/new'">Nueva Empresa</button>
        </div>
    </header>

    <main class="container">

        {{#companies}}
        <div class="company-item">
            <a href="/companies/{{id}}">{{name}}</a>
        </div>
        {{/companies}}

        <div class="pagination">
            <nobr>
                {{#hasPrev}}<a href="/companies?page={{prev}}">Anterior</a>&nbsp;&nbsp;&nbsp;{{/hasPrev}}
                {{#hasNext}}<a href="/companies?page={{next}}">Siguiente</a>{{/hasNext}}
            </nobr>
        </div>

    </main>

    <footer>
        <div class="copyright">© 2025 Desarrollado por el equipo de Cibercatalejo.</div>
    </footer>

</body>

</html>